.footer {
    display: flex;
    flex: 1;
    padding: 2rem 2rem;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  /* .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  } */

  .footer p {
    display: flex;
    padding-right: 5rem;
  }