.main {
    min-height: 90vh;
    background-color: aliceblue;
    color: black;
    /* opacity: 0.5; */
}

.main p {
    padding: 2rem;
    font-weight: bold;
    display: inline-block;
    
}

.createButton {
    padding: 2rem;
    float: right;
}

.createButton button {
    padding: 1rem;
}